# ABAQUS_COMMAND=abaqus
ABAQUS_MCP_WORKSPACE_DIR=./abaqus_work
ABAQUS_MCP_MAX_CPUS=4
ABAQUS_MCP_SCRIPT_TIMEOUT=300
ABAQUS_MCP_JOB_TIMEOUT=3600
ABAQUS_MCP_MAX_OUTPUT_CHARS=20000
ABAQUS_MCP_ALLOW_OVERWRITE=false
ABAQUS_MCP_LOG_LEVEL=WARNING
